.profileContainer {
  display: flex;
  justify-content: center;
  color: #EFE9E7;

}

.profileTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.profilePersonal {
  text-align: center;
  margin-right: 30px;
  width: 300px;
}

td.profilePersonal {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

section.profilePersonal {
  display: flex;
  justify-content: center;
}

div.profilePreferences {
  text-align: center;
  margin-left: 30px;
  max-width: 600px;
}

section.profilePreferences {
  display: flex;
  justify-content: left;
}

.profileLabel {
  text-align: right;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 15px;
  width: 150px;

}

.profileDetail {
  font-size: 20px;
  margin-top: 15px;
}

input.profileDetail {
  margin-top: 7px;
}

.radios {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  margin-bottom: 30px;
}

.radioButton.active {
  color: #EFE9E7;
  background-color: #292F36;
}

.radioButton:hover {
  color: #EFE9E7;
  background-color: #292F36;
}

.radioButton.active:hover {
  color: #EFE9E7;
  background-color: #292F36;
}

@media only screen and (max-width: 800px) {
  .profileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
  }
}

@media only screen and (max-width: 600px) {

}
