.form-horizontal {
  color: #EFE9E7;
}

label {
  font-size: 16px;
}

.control-label {
  font-size: 16px;
}

.form-group {
padding-left: 70px;
padding-right: 100px;
}

.ownership {
  padding-left: 22vw;
}

#formHorizontalPassword,#formHorizontalEmail {
  background-color: #EFE9E7;
}
