.form-horizontal {
  color: #EFE9E7;
}

label {
  font-size: 16px;
}

.control-label {
  font-size: 16px;
}

.form-group {
padding-left: 70px;
padding-right: 100px;
}

.ownership {
  padding-left: 22vw;
}

.greeting {
  padding-left: 40px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #CF5300;
  border-bottom: 1px solid #EFE9E7;
  margin-left: 50px;
  margin-right: 50px;
}

#formHorizontalPassword,#formHorizontalEmail {
  background-color: #EFE9E7;
}
